{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="text-white">
                    TENS, EMS and electrotherapy <i class="fa-solid fa-tablet-screen-button"></i>
                </h2>
                <div class="my-5">
                    <h2>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-sm rounded-0 text-uppercase py-3">Shop Now</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="about-us">
        <div class="row row-cols-4">
            <div class="col">
                <h3>WHY HIDOW?</h3>
                <p><strong> We have created the best in class Tens and Ems units</strong> for the whole body</p>
            </div>
            <div class="col">
                <h3>WHAT IS ELECTROTHERAPY?</h3>
                <p>TENS and EMS devices <strong>stimulate your nerves and muscles</strong> with a
                    current designed to provide therapeutic relief and muscle recovery.
                </p>
            </div>
            <div class="col">
                <h3>COMPRESSION THERAPY</h3>
                <p>Strengthen vein support and increase <strong>bloodflow with compression
                    sleeves</strong> and wraps designed to help alleviate discomfort.
                </p>
            </div>
            <div class="col">
                <h3>MUSCLE RECOVERY</h3>
                <p>Improve physical performance with <strong>deep tissue stimulation</strong> that
                    decreases <strong>muscle tension</strong> and promotes recovery.
                </p>
            </div>
        </div>
    </div>
{% endblock %}