{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto" id="hero">
                <div class="my-5">
                    <h1 class="quote" style="color:white"><b>"The real secret of magic lies in the performance"</b></h1>
                    <h3 class="quote" style="color:white"><b>David Copperfield</b></h3>
                </div>
                <div>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-sm rounded-0 text-uppercase py-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="about-us">
        <div class="card-group">
            <div class="col">
                <h3>WHY HIDOW?</h3>
                <p><strong> We have created the best in class Tens and Ems units</strong> for the whole body.
                    All our products have a medical device class II certificate from the European health authorities.
                </p>
    
            </div>
            <div class="col">
                <h3>WHAT IS ELECTROTHERAPY?</h3>
                <p>TENS and EMS devices <strong>stimulate your nerves and muscles</strong> with a
                    current designed to provide therapeutic relief and muscle recovery. <a href="https://www.spine-health.com/treatment/pain-management/all-about-electrotherapy-and-pain-relief" target="_blank">
                    Read more</a>
                </p>
            </div>
            <div class="col">
                <h3>COMPRESSION THERAPY</h3>
                <p>Strengthen vein support and increase <strong>bloodflow with compression
                    sleeves</strong> and wraps designed to help alleviate discomfort.
                    <a href="https://applebypharmacy.com/2021/10/29/what-is-compression-therapy-and-what-are-it-benefits/#:~:text=Compression%20therapy%20uses%20the%20technique,improve%20their%20quality%20of%20life." target="_blank">
                        Read more</a>
                </p>
            </div>
            <div class="col">
                <h3>MUSCLE RECOVERY</h3>
                <p>Improve physical performance with <strong>deep tissue stimulation</strong> that
                    decreases <strong>muscle tension</strong> and promotes recovery. <br>
                    <a href="https://drhonow.com/en_int/blog/can-tens-machines-help-with-muscle-recovery-post-workout" target="_blank">
                    Read more</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}