<h2>Hello {{ warranty.full_name }}!</h2>

<div>This is a confirmation of your warranty activation at Hidow Germany.</div>
<div>Your registration information is below:</div>

<div>
    Product\s registered: {{ product }}
    <br>
    Registration Date: {{ warranty.date }}
</div>
<div>
    All registered products are covered by Hidow Germany limited lifetime warranty.
    For warranty issues, please contact us at {{ contact_email }}.
</div>
<div>
    If you have any questions, feel free to contact us at {{ contact_email }}.
</div>
Thank you for your registration!
<br>
Sincerely,
<br>
Hidow Germany
